/*Ссылка на шрифты кроме основного 'https://fonts.googleapis.com/css?family=Farsan|Hind+Siliguri|Racing+Sans+One|Six+Caps|Space+Mono:700'*/
@font-face {
    font-family: 'canterburyregular';
    src: url('canterbury.regular-webfont.woff2') format('woff2'),
         url('canterbury.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body
{
    width: 1200px;
    margin: 0 auto;
}

.clear-fix:after
{
    display: block;
    clear: both;

    content: '';
}

/*––––––––––––––––––Шапка газеты––––––––––––––––––––*/
.header
{
    margin: 35px 0 25px;
}

.header__info
{
    float: left;
    text-align: center;
    box-sizing: border-box;
    width: 200px;
    padding: 25px 10px;
    font-size: 1em;
    border: 1px solid;
}

.header__weather
{
    float: right;

    width: 200px;
}

.header__weather-title
{
    margin: 0;
    font: bold 117% "Space Mono", monospace;
    text-align: center;
}

.header__weather-text
{
    margin: 0;
    text-align: justify;
    font-size: 80%;
    line-height: 1.1;
}

.header__title
{
    overflow: visible;
    font: 5em "canterburyregular", serif;
    text-align: center;
    margin: 0;
}


/*––––––––––––––––––Подшапка газеты–––––––––––––––––*/
.sub-header
{
    padding: 5px 0;

    border-top: 1px solid;
    border-bottom: 2px solid;
}

.sub-header__copyright
{
    display: inline-block;
    font-size: 60%;
    margin: 0 30px;
}

.sub-header__price
{
    float: right;
}


/*––––––––––––––––––Основной контент––––––––––––––––*/
.content
{
    display: flex;
}

/*––––––––––––––––––Блок статьи–––––––––––––––––––––*/
.article__title
{
    margin-top: 0;
    margin-bottom: 10px;
    font: bold 320% "Six Caps", sans-serif;
}

.article__title_font_racing
{
    font: italic bold 200% "Racing Sans One", sans-serif;
}

.article__title_font_farsan
{
    font: italic bold 230% "Farsan", cursive;
}

.article__help
{
    margin-top: 10px !important;
    margin-bottom: 4px !important;
}


.article__add-text
{
    margin-top: 10px;
    margin-bottom: 4px;
    text-align: justify;
    text-indent: 2ch;
    font-size: 80%;
    font-style: italic;
}

.article__author
{
    display: block;
    font-weight: bold;
    font-size: 80%;
    text-align: center;
    margin-top: 10px;
}

.article__content p 
{
    text-indent: 2ch;
    font-size: 80%;
    text-align: justify;
}

.article__continue
{
    display: block;
    font-size: 80%;
    font-style: italic;
    text-align: center;
}

.article__image
{
    margin: 0;
    text-indent: 0;
}

.article__image.article__image_align_right
{
    float: right;

    margin: 10px 0 5px 10px;
}

.article__image-caption 
{
    font-size: .8rem;
    text-decoration: underline;
}

.article__subtitle
{
    margin: 10px 0;
    text-align: center;
    font: bold 117% "Times New Roman", serif;
}

.article_columns_two .article__content 
{
    column-count: 2;
    column-gap: 15px;
}

.article_columns_two .article__author,
.article_columns_two .article__continue
{
    column-span: all;
}

/*––––––––––––––––––Блок главной фотографии–––––––––*/
.main-photo__wrapper
{
    margin: 0;
}

.main-photo__img
{
    width: 100%;
}

.main-photo__title
{
    margin: 0;
    font-weight: bold;
}

.main-photo__desc
{
    margin-bottom: 20px;
    font-size: 80%;
}
.main-photo__caption
{
    font-size: .7rem;
    text-transform: uppercase;
    text-align: right;
}
/*––––––––––––––––––Линия разделения––––––––––––––––*/
.line
{
    border-top: 1px solid #000;
}

.line.line_type_bold
{
    margin-bottom: 3px;

    border-width: 2px;
}

.line.line_type_short
{
    width: 70px;
    margin: 0 auto;
}

/*––––––––––––––––––Центральные колонки газеты––––––––––––––––––*/
.multicolumn
{
    margin-top: 10px;
}

.multicolumn__right,
.multicolumn__left
{
    display: inline-block;

    box-sizing: border-box;
    width: 49%;

    vertical-align: top;

}

.multicolumn__right
{
    padding-left: 10px;
}

.multicolumn__left
{
    padding-right: 10px;

    border-right: 1px solid #000;
}

.multicolumn .line_type_short
{
    width: 50%;
    margin: 10px auto;
}

.multicolumn .article__title
{
    margin: 10px 0 0 0;
}

.center-column
{
    margin-top: 20px;
    padding: 0 10px;

    flex-grow: 2;
}

/*––––––––––––––––––Второстепенные колонки газеты––––––––––––––––––*/
.left-column
{
    border-right: 1px solid #000;
}

.right-column
{
    border-left: 1px solid #000;
}

.right-column,
.left-column
{
    box-sizing: border-box;
    width: 200px;
    margin-top: 20px;
    padding: 0 10px;

    flex-shrink: 0;
}

/*––––––––––––––––––––––––––––––––––––––––––––––––––*/
