body {
    background: #CFD0CF;
}
h1 {
    text-align: center;
    font: bold 42px/47px Arial, sans-serif;
    color: #434344;
    margin: 40px 0px;
}
#playground {
    width: 595px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(4, 130px);
    grid-template-rows: repeat(3, 130px);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}
.card {
    cursor: pointer;

    width: 130px;
    height: 130px;

    perspective: 600px;  
    transform-style: preserve-3d;
}
.side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    border-radius: 9px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);

    backface-visibility: hidden;
    transition: transform .3s linear;

}
.front {
    font-size: 75px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: rotateY(-180deg);
}
.back {
    background: linear-gradient(45deg, #22AB93, #19668D);
    border: 5px solid #fff;

}
.rotate > .front {
    transform: none;
}
.rotate > .back {
    transform: rotateY(180deg);
}
.match > .front {
    background: #5AD66F;
}
.mismatch > .front {
    background: #F44336;
}